   
   <!-- Footer -->
    <footer class="footer">
        <div class="container footer-content">
            <!-- Columna 1: Descripción -->
            <div class="footer-about">
                <h2>SANTOS<span>MINING</span></h2>
                <p>Liderando el futuro de la minería sostenible con más de 35 años de experiencia.</p>
            </div>

            <!-- Columna 2: Enlaces Rápidos -->
            <div class="footer-links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="pages/nosotros.html">Nosotros</a></li>
                    <li><a href="pages/proyectos.html">Proyectos</a></li>
                    <li><a href="pages/sostenibilidad.html">Sostenibilidad</a></li>
                    <li><a href="pages/contactos.html">Contacto</a></li>
                </ul>
            </div>

            <!-- Columna 3: Contacto -->
            <div class="footer-contact">
                <h3>Contacto</h3>
                <p>Email: <a href="mailto:contacto@santos-mining.com">contacto@santos-mining.com</a></p>
                <p>Tel: <a href="tel:+51973771526">+51 973 771 526</a></p>
            </div>
        </div>

        <!-- Línea de derechos -->
        <div class="footer-bottom">
            <p>© 2024 SANTOS-MINING. Todos los derechos reservados.</p>
        </div>
    </footer>