 <!-- Header -->
    <header class="header">
        <div class="container">
            <!-- Logo -->
            <div class="logo">
                <a href="index.html">SANTOS<span>MINING</span></a>
            </div>
            <!-- Menú de navegación -->
            <nav class="nav">
                <ul>
                    <li><a href="index.html" class="active">Inicio</a></li>
                    <li><a href="pages/nosotros.html">Nosotros</a></li>
                    <li><a href="pages/proyectos.html">Proyectos</a></li>
                    <li><a href="pages/sostenibilidad.html">Sostenibilidad</a></li>
                    <li><a href="pages/contactos.html">Contacto</a></li>
                </ul>
            </nav>
            <!-- Botón de menú hamburguesa (solo visible en móviles) -->
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>